# ======================
# Node / Frontend
# ======================
node_modules/
dist/

# ======================
# Python / Backend
# ======================
venv/
backend/venv/
__pycache__/
*.pyc
*.pkl

# ======================
# Environment
# ======================
.env

# ======================
# OS
# ======================
.DS_Store
Thumbs.db
